.city {
  min-height: 1176px;
  @include bg;
  background-image: url('/src/img/bgs/city-bg.jpg');
  padding-top: 130px;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;

  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 0;
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.city__title {
  @include title;
  margin-bottom: 35px;

  span {
    color: $yellow;
    background-color: black;
  }

  @media (max-width: 1075px) {
    br {
      display: none;
    }
  }
}

.city__content {
  @include max-width(641px);
  margin-left: auto;
  position: relative;

  @media (max-width: 991px) {
    margin-right: auto;
  }
}

.city__text {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 50px;
  @include max-width(570px);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 650px) {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.city__policy-text {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.5;
  color: black;

  @media (max-width: 650px) {
    font-size: 11px;
  }

  button {
    @include reset-btn;
    color: black;
    font-size: 14px;

    @media (max-width: 650px) {
      font-size: 11px;
    }

    &:hover,
    &:focus,
    &:active {
      color: black;
      text-decoration: underline;
    }
  }
}

.city__policy {
  margin-left: 35px;
  padding-left: 46px;

  @include max-width(485px);

  position: relative;

  margin-top: 38px;

  @media (max-width: 650px) {
    margin-top: 20px;
    margin-left: 0;
  }

  &_modal {
    margin-left: 0;
    margin-top: 20px;
    padding-left: 38px;
    .city__policy-text {
      text-align: left;
    }
  }
}

.city__owner-box {
  position: absolute;
  left: -552px;
  top: 8px;
  z-index: -1;

  @media (max-width: 1100px) {
    left: -487px;
  }

  @media (max-width: 991px) {
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 20px;
    width: 100%;
    max-width: 630px;

    img {
      width: 100%;
    }
  }
}

.city__owner-caption {
  width: 254px;
  height: 254px;
  background-color: $yellow;
  position: absolute;
  font-size: 23px;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 14px;
  bottom: 57px;
  font-weight: bold;
  border-radius: 50%;

  @media (max-width: 1200px) {
    left: 166px;
  }

  @media (max-width: 650px) {
    width: 145px;
    height: 145px;
    font-size: 16px;
    left: 62px;
    bottom: 26px;
  }
}
