.earn {
  min-height: 814px;
  @include bg;
  background-image: url('/src/img/bgs/earn-bg.png');
  padding-top: 135px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  margin-bottom: -23px;
  top: -23px;

  @media (max-width: 1150px) {
    padding-top: 50px;
    background-color: $yellow;
    background-image: none;
    top: 0;
    margin-bottom: 0;
    min-height: auto;
  }

  @media (max-width: 736px) {
    padding-top: 30px;
  }
}

.earn__title {
  @include title;
  margin-bottom: 50px;

  span {
    color: white;
    background-color: black;
  }

  @media (max-width: 736px) {
    br {
      display: none;
    }
  }
}

.earn__content {
  @include bg;
  background-image: url('/src/img/earn-content-bg.jpg');
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  box-shadow: -2px 2.3px 13px 0 rgba(0, 0, 0, 0.2);
  position: relative;

  &::before {
    content: url('/src/img/earn-leaf.png');
    position: absolute;
    bottom: -100px;
    left: -113px;
    
    @media (max-width: 991px) {
      content: none;
    }
  }

  &::after {
    content: url('/src/img/earn-sous.png');
    position: absolute;
    top: -333px;
    right: -132px;
    
    @media (max-width: 991px) {
      content: none;
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
  }

  @media (max-width: 650px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.earn__box {
  padding-left: 23px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 44px;
  width: 50%;

  @media (max-width: 991px) {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  @media (max-width: 650px) {
    padding-left: 9px;
    padding-right: 5px;
  }

  &:first-child {
    border-right: 2px dotted black;

    @media (max-width: 991px) {
      border-right: none;
      border-bottom: 2px dotted black;
    }
  }
}

.earn__item-title {
  font-size: 18px;
  font-weight: bold;
  color: #aa3200;
  margin-bottom: 35px;
  text-transform: uppercase;

  @media (max-width: 991px) {
    margin-bottom: 15px;
  }

  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.earn__row {
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin-bottom: 5px;
}

.earn__text,
.earn__number {
  font-size: 18px;
  margin-bottom: 0;

  @media (max-width: 1200px) {
    font-size: 15px;
  }

  @media (max-width: 650px) {
    font-size: 12px;
  }

  span {
    @media (max-width: 650px) {
      display: none;
    }
  }
}

.earn__devider {
  height: 14px;
  border-bottom: 2px dotted #000;
  width: 100%;
}
